<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        Hello Wo rld with ejs
        <h1>Quang Viet</h1>
        <div>
            <img
                class="image"
                src="/images/Acer_wallpaper_01.jpg"
                alt="Acer_wallpaper_01"
            />
        </div>
        <div>
            <img
                class="image"
                src="/images/Acer_wallpaper_02.jpg"
                alt="Acer_wallpaper_02"
            />
        </div>
    </body>
</html>
