/* login.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./login.jpg");
    background-size: cover;
    background-position: center;
}

.welcomeMessage {
    text-align: center;
    color: #fff;
    margin-right: 20px;
}

.loginForm {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginTitle {
    font-size: 32px;
    margin-bottom: 20px;
    color: #30475e;
}

.registerInputs {
    display: flex;
    flex-direction: column;
}

.registerInput {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.registerInput:focus {
    outline: none;
    border-color: #30475e;
    box-shadow: 0 0 5px rgba(48, 71, 94, 0.5);
}

.registerButton {
    cursor: pointer;
    background-color: #30475e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.registerButton:hover {
    background-color: #243447;
}
